<p> Oi, {{nome}}</p>
<p>
    Bem vindo ao Daily Tasks, pro favor, confirme seu email clicando no link abaixo:
</p>
<p>
    <a href="{{appUrl('register/confirm/'+confirmation_token)}}">Confirmar email!</a>    
</p>